<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- MENÚ PADRE SEGURO -->
    <menuitem id="menu_non_inventory_root"
              name="Productos No Inventariados"
              parent="stock.menu_product"
              sequence="50"/>

    <!-- ACCIÓN -->
    <record id="action_non_inventory" model="ir.actions.act_window">
        <field name="name">Productos No Inventariados</field>
        <field name="res_model">joyeria.non_inventory</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- VINCULAR MENÚ CON LA ACCIÓN -->
    <menuitem id="menu_non_inventory_action"
              parent="menu_non_inventory_root"
              action="action_non_inventory"
              sequence="1"/>

</odoo>
