<!-- en joyeria_reparaciones/views/menu.xml -->
<record id="action_wizard_oro_valores" model="ir.actions.act_window">
    <field name="name">Ingresar Valores de Oro</field>
    <field name="res_model">wizard.oro.valores</field>
    <field name="view_mode">form</field>
    <field name="target">new</field>
</record>

<menuitem id="menu_wizard_oro_valores"
          name="Generar Salida Taller"
          parent="menu_joyeria_reparaciones"
          action="action_wizard_oro_valores"/>
